<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kpdigital.Allshayri2021">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllShayri2021"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        >
        <activity android:name="com.kpdigital.Allshayri2021.editImageAndFont"></activity>
        <activity android:name="com.kpdigital.Allshayri2021.ThirdActivity"
            android:parentActivityName="com.kpdigital.Allshayri2021.SecondActivity"/>
        <activity android:name="com.kpdigital.Allshayri2021.ShayriLastActivity"
            android:parentActivityName="com.kpdigital.Allshayri2021.SecondActivity"
            />
        <activity android:name="com.kpdigital.Allshayri2021.SecondActivity"
            android:parentActivityName="com.kpdigital.Allshayri2021.MainActivity2"
            />
        <activity android:name="com.kpdigital.Allshayri2021.MainActivity2" />
        <activity android:name="com.kpdigital.Allshayri2021.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

    </application>

</manifest>